* {
  font-family: Cascadia Code;
  text-decoration: none;
  background-color: #222222;
  font-size: 1rem;
  color: #ffffff;
  list-style-type: none;
}

a {
  color: #ffff00;
}

.row {
  background-color: #fff;
  color: #333;
}

.row td {
  padding: 10px;
  border: 1px solid #ccc;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

input {
  width: 100%;
}

button {
  margin-right: 10px;
}
